---
import "../styles/global.css";
import BaseLayout from "@layouts/BaseLayout.astro";
import HelloWorld from "@components/HelloWorld.astro";
import PricingCard from "@components/PricingCard.astro";
---

<BaseLayout>
  <HelloWorld />
  <div class="card-grid">
    <PricingCard
      tier="Free"
      most_popular={false}
      amount_per_month="0"
      title="Free"
      description="Free forever"
      btn_text="Get Started"
      features={["100% Free", "Lifetime Accesss", "Continuous Upgrades"]}
    />
    <PricingCard
      tier="Pro"
      most_popular={false}
      amount_per_month="0"
      title="Professional"
      description="Enhanced for professionals"
      btn_text="Get Started"
      features={["24hr Support", "Lifetime Accesss", "Continuous Upgrades"]}
    />
  </div>
</BaseLayout>

<style>
  .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
</style>
