---
import "../styles/global.css";
import HypertextStartmatter from "@basics/HypertextStartmatter.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import HypertextEndmatter from "@basics/HypertextEndmatter.astro";
import HelloWorld from "@components/HelloWorld.astro";
import { Content as AboutContent } from "../content/component-copy/about.md";
import Card from "@components/Card.astro";
import imageOf from "../assets/Carrie.png";
import image01 from "../assets/Car.png";
---

<body>
  <BaseLayout>
    <h2>Hello World</h2>
    <Card
      img={image01.src}
      alt="car"
      pill="technology"
      title="Why is the Tesla Cybertruck designed the way it is?"
      description="An exploration into the trucks polarising design"
      author_img={imageOf.src}
      author_name="Carry Brewer"
      time="2 h ago"
    /><!-- <HelloWorld /> -->
  </BaseLayout>
</body>

<style></style>
