---
import HypertextStartmatter from "@basics/HypertextStartmatter.astro";
import HypertextEndmatter from "@basics/HypertextEndmatter.astro";
import Header from "@basics/Header.astro";
import Footer from "@basics/Footer.astro";
---

<HypertextStartmatter />
<Header />
<body class="base-layout">
  <main>
    <div class="body-container-column">
      <slot />
    </div>
  </main>
</body>
<Footer />
<HypertextEndmatter />
<style>
  .body-container-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 90vh;
  }

  .base-layout {
    --max-width: 1920px;
    --padding: 2rem;

    display: grid;
    grid-template-columns:
      minmax(var(--padding), 1fr)
      min(var(--max-width), 100% - (var(--padding) * 2))
      minmax(var(--padding), 1fr);

    & > * {
      grid-column: 2 / 3;
    }

    & > .full-width {
      grid-column: 1 / -1;
    }
  }
</style>
