---
import "../styles/global.css";
import Header from "../basics/Header.astro";
import Footer from "../basics/Footer.astro";
---

<Header />
    <main>
        <div class="body-container-column">
            <slot />
        </div>
    </main>

<Footer />

<style>
    .body-container-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 90vh;
    }
</style>
