---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "/BaseLayout.astro";

const allSections = await getCollection("sections");
const { frontmatter, data } = Astro.props;
---

<BaseLayout>
  {
    allSections.map((section: CollectionEntry<"sections">) => (
      <div>
        <h1>{section.data.title}</h1>
        <p>{section.data.author}</p>
        <slot name={`section-${section.slug}`} />
      </div>
    ))
  }
</BaseLayout>
