---

---
<slot />
</body>
</html>
<style>
	body {
		background-color: var(--clr-lossless-primary-dark);
	}
	h1 {
		font-family: 'Poppins', sans-serif;
		color: var(--clr-lossless-primary-light);
	}
</style>